<a href="https://colab.research.google.com/github/sera0911/asia_ai_project/blob/main/3rd_mini_project/code/%EC%A0%84%EC%B2%98%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 로드

In [ ]:
import pandas as pd

In [ ]:
# 2020년 1월 ~ 12월 데이터
ride_raw = pd.read_csv('/content/drive/MyDrive/projects/3차-따릉이/data/ride.csv')
ride_raw

          Unnamed: 0        대여일자  대여시간  대여소번호  ...    운동량   탄소량     이동거리 사용시간
0             776956  2020-01-01     0   1044  ...  33.96  0.30  1280.00    6
1             776957  2020-01-01     0   1656  ...  40.15  0.39  1690.00    6
2             776958  2020-01-01     0   1337  ...  80.88  0.50  2150.00   12
3             776959  2020-01-01     0   1984  ...  47.36  0.43  1840.00   25
4             776960  2020-01-01     0   2601  ...  29.34  0.26  1140.00    5
...              ...         ...   ...    ...  ...    ...   ...      ...  ...
18926086     1066896  2020-12-31    23   3121  ...   0.00  0.00     0.00   13
18926087     1066897  2020-12-31    23    560  ...   0.00  0.00     0.00   52
18926088     1066898  2020-12-31    23   1416  ...  18.33  0.17   711.99    4
18926089     1066899  2020-12-31    23   1625  ...  20.52  0.15   647.86    7
18926090     1066900  2020-12-31    23    419  ...  18.19  2.13  9187.95  128

[18926091 rows x 13 columns]

In [ ]:
ride_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18926091 entries, 0 to 18926090
Data columns (total 13 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   대여일자        object
 2   대여시간        int64
 3   대여소번호       int64
 4   대여소명        object
 5   대여구분코드      object
 6   성별          object
 7   연령대코드       object
 8   이용건수        int64
 9   운동량         object
 10  탄소량         object
 11  이동거리        float64
 12  사용시간        int64
dtypes: float64(1), int64(5), object(7)
memory usage: 1.8+ GB

In [ ]:
# 대여소 별 정보
station = pd.read_csv('/content/drive/MyDrive/projects/3차-따릉이/data/대여소_목록.csv', encoding='cp949', skiprows=5, names=['대여소번호', '대여소명', '자치구', '상세주소', '위도', '경도', '설치시기', 'LCD', 'QR', '운영방식'])
station

       대여소번호               대여소명  자치구  ...   LCD    QR  운영방식
0      301.0        경복궁역 7번출구 앞  종로구  ...  16.0   NaN   LCD
1      302.0        경복궁역 4번출구 뒤  종로구  ...  12.0   NaN   LCD
2      303.0        광화문역 1번출구 앞  종로구  ...   8.0   NaN   LCD
3      304.0        광화문역 2번출구 앞  종로구  ...   NaN   7.0    QR
4      305.0             종로구청 옆  종로구  ...  16.0   NaN   LCD
...      ...                ...  ...  ...   ...   ...   ...
2152  1089.0  고덕 래미안힐스테이트(201동)  강동구  ...   NaN  10.0    QR
2153  1090.0        상일동역 2번출구 앞  강동구  ...   NaN  10.0    QR
2154     NaN                NaN  NaN  ...   NaN   NaN   NaN
2155     NaN                NaN  NaN  ...   NaN   NaN   NaN
2156     NaN                NaN  NaN  ...   NaN   NaN   NaN

[2157 rows x 10 columns]

# 데이터 전처리

In [ ]:
# 대여소 번호 별 자치구 추가
ride_ = ride_raw.merge(station[['대여소번호', '자치구']], on='대여소번호', how='left')
ride_

          Unnamed: 0        대여일자  대여시간  대여소번호  ...   탄소량     이동거리 사용시간   자치구
0             776956  2020-01-01     0   1044  ...  0.30  1280.00    6   강동구
1             776957  2020-01-01     0   1656  ...  0.39  1690.00    6   노원구
2             776958  2020-01-01     0   1337  ...  0.50  2150.00   12   성북구
3             776959  2020-01-01     0   1984  ...  0.43  1840.00   25   구로구
4             776960  2020-01-01     0   2601  ...  0.26  1140.00    5   송파구
...              ...         ...   ...    ...  ...   ...      ...  ...   ...
18966737     1066896  2020-12-31    23   3121  ...  0.00     0.00   13  서대문구
18966738     1066897  2020-12-31    23    560  ...  0.00     0.00   52   성동구
18966739     1066898  2020-12-31    23   1416  ...  0.17   711.99    4   중랑구
18966740     1066899  2020-12-31    23   1625  ...  0.15   647.86    7   노원구
18966741     1066900  2020-12-31    23    419  ...  2.13  9187.95  128   마포구

[18966742 rows x 14 columns]

In [ ]:
# 각 자치구마다 대여시간 별 이용건수
ride = ride_[['자치구', '대여시간', '대여일자', '이용건수']].groupby(['자치구', '대여시간', '대여일자']).sum().reset_index()
ride

        자치구  대여시간        대여일자  이용건수
0       강남구     0  2020-01-01    24
1       강남구     0  2020-01-02    31
2       강남구     0  2020-01-03    47
3       강남구     0  2020-01-04    39
4       강남구     0  2020-01-05    33
...     ...   ...         ...   ...
217964  중랑구    23  2020-12-27    26
217965  중랑구    23  2020-12-28    31
217966  중랑구    23  2020-12-29    22
217967  중랑구    23  2020-12-30    13
217968  중랑구    23  2020-12-31    16

[217969 rows x 4 columns]

In [ ]:
# 파일로 저장
ride.to_csv('/content/drive/MyDrive/projects/3차-따릉이/data/ride_count.csv')