<a href="https://colab.research.google.com/github/sera0911/asia_ai_project/blob/main/3rd_mini_project/code/%EC%A0%84%EC%B2%98%EB%A6%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 두 데이터 병합

In [ ]:
import pandas as pd

In [ ]:
# 기존 전처리한 파일과 
ride_count = pd.read_csv('/content/drive/MyDrive/projects/3차-따릉이/data/ride_count.csv')
weather = pd.read_csv('/content/drive/MyDrive/projects/3차-따릉이/data/weather.csv')

### 결측치 제거

In [ ]:
ride_count.isna().sum()

Unnamed: 0    0
자치구           0
대여시간          0
대여일자          0
이용건수          0
dtype: int64

In [ ]:
weather

        Unnamed: 0   지점 지점명                일시   기온   풍속  강수량    습도  미세먼지농도
0             8784  400  강남  2020-01-01 00:00 -5.1  1.0  0.0  41.5    27.0
1             8785  400  강남  2020-01-01 01:00 -5.0  0.8  0.0  43.4    20.0
2             8786  400  강남  2020-01-01 02:00 -4.8  1.3  0.0  47.0    21.0
3             8787  400  강남  2020-01-01 03:00 -4.9  0.7  0.0  50.3    31.0
4             8788  400  강남  2020-01-01 04:00 -4.7  1.4  0.0  55.2    30.0
...            ...  ...  ..               ...  ...  ...  ...   ...     ...
219006      245329  889  동작  2020-12-31 19:00 -5.4  1.7  0.0  53.1    44.0
219007      245330  889  동작  2020-12-31 20:00 -6.5  1.5  0.0  55.1    35.0
219008      245331  889  동작  2020-12-31 21:00 -6.2  1.4  0.0  55.2    42.0
219009      245332  889  동작  2020-12-31 22:00 -5.6  1.6  0.0  57.4    42.0
219010      245333  889  동작  2020-12-31 23:00 -6.3  1.4  0.0  56.8    43.0

[219011 rows x 9 columns]

In [ ]:
weather.isna().sum()

Unnamed: 0        0
지점                0
지점명               0
일시                0
기온              594
풍속              689
강수량            1295
습도            94772
미세먼지농도            0
dtype: int64

In [ ]:
# null값이 많은 습도 열을 지우고, 강수량은 null값을 0으로 변환
weather.drop(['습도', 'Unnamed: 0'], axis=1, inplace=True)
weather['강수량'].fillna(0, inplace=True)
weather

         지점 지점명                일시   기온   풍속  강수량  미세먼지농도
0       400  강남  2020-01-01 00:00 -5.1  1.0  0.0    27.0
1       400  강남  2020-01-01 01:00 -5.0  0.8  0.0    20.0
2       400  강남  2020-01-01 02:00 -4.8  1.3  0.0    21.0
3       400  강남  2020-01-01 03:00 -4.9  0.7  0.0    31.0
4       400  강남  2020-01-01 04:00 -4.7  1.4  0.0    30.0
...     ...  ..               ...  ...  ...  ...     ...
219006  889  동작  2020-12-31 19:00 -5.4  1.7  0.0    44.0
219007  889  동작  2020-12-31 20:00 -6.5  1.5  0.0    35.0
219008  889  동작  2020-12-31 21:00 -6.2  1.4  0.0    42.0
219009  889  동작  2020-12-31 22:00 -5.6  1.6  0.0    42.0
219010  889  동작  2020-12-31 23:00 -6.3  1.4  0.0    43.0

[219011 rows x 7 columns]

In [ ]:
ride_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217969 entries, 0 to 217968
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  217969 non-null  int64
 1   자치구         217969 non-null  object
 2   대여시간        217969 non-null  int64
 3   대여일자        217969 non-null  object
 4   이용건수        217969 non-null  int64
dtypes: int64(3), object(2)
memory usage: 8.3+ MB

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219011 entries, 0 to 219010
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   지점      219011 non-null  int64
 1   지점명     219011 non-null  object
 2   일시      219011 non-null  object
 3   기온      218417 non-null  float64
 4   풍속      218322 non-null  float64
 5   강수량     219011 non-null  float64
 6   미세먼지농도  219011 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 11.7+ MB

In [ ]:
# 기온, 풍속은 상대적으로 null 비율이 적기 때문에 해당 행 제거
weather.dropna(subset=['기온', '풍속'], inplace=True)

In [ ]:
weather.isna().sum()

지점        0
지점명       0
일시        0
기온        0
풍속        0
강수량       0
미세먼지농도    0
dtype: int64

### 형식 동일하게 설정

In [ ]:
# 두 데이터프래임의 열 이름을 동일하게 만듦
ride_count['자치구'] = ride_count['자치구']
ride_count.rename(columns={'대여시간': '시각', '대여일자': '일자'}, inplace=True)

In [ ]:
weather['일자'] = weather['일시'].apply(lambda x: x.split()[0])
weather['시각'] = weather['일시'].apply(lambda x: int(x.split()[1].split(":")[0]))
weather['지점명'] = weather['지점명'].str.strip()
weather['지점명'] = weather['지점명'].apply(lambda x: x + "구" if not x.endswith('구') else x)
weather.rename(columns={'지점명': '자치구'}, inplace=True)

In [ ]:
ride_count['자치구'].unique(), weather['자치구'].unique()

(array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
        '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
        '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object),
 array(['강남구', '서초구', '강동구', '송파구', '강서구', '양천구', '도봉구', '노원구', '동대문구',
        '중랑구', '종로구', '마포구', '서대문구', '광진구', '성북구', '용산구', '은평구', '금천구',
        '중구', '성동구', '구로구', '강북구', '관악구', '영등포구', '동작구'], dtype=object))

In [ ]:
data = weather[['자치구', '일자', '시각', '기온', '풍속', '강수량', '미세먼지농도']].merge(
    ride_count[['자치구', '일자', '시각', '이용건수']],
    on=['자치구', '일자', '시각'],
    how='inner'
)
data.to_csv('/content/drive/MyDrive/projects/3차-따릉이/data/data_raw.csv', index = None)
data

        자치구          일자  시각   기온   풍속  강수량  미세먼지농도  이용건수
0       강남구  2020-01-01   0 -5.1  1.0  0.0    27.0    24
1       강남구  2020-01-01   1 -5.0  0.8  0.0    20.0    29
2       강남구  2020-01-01   2 -4.8  1.3  0.0    21.0    28
3       강남구  2020-01-01   3 -4.9  0.7  0.0    31.0    21
4       강남구  2020-01-01   4 -4.7  1.4  0.0    30.0    14
...     ...         ...  ..  ...  ...  ...     ...   ...
216253  동작구  2020-12-31  19 -5.4  1.7  0.0    44.0    33
216254  동작구  2020-12-31  20 -6.5  1.5  0.0    35.0    30
216255  동작구  2020-12-31  21 -6.2  1.4  0.0    42.0    24
216256  동작구  2020-12-31  22 -5.6  1.6  0.0    42.0     7
216257  동작구  2020-12-31  23 -6.3  1.4  0.0    43.0     2

[216258 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# 자치구 라벨화
le = LabelEncoder()
encoded = le.fit_transform(data['자치구'])
le.classes_

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [ ]:
data['자치구'] = encoded

In [ ]:
from datetime import datetime
# 요일 추가: 월 ~ 일 -> 0 ~ 6
data['요일'] = data['일자'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').weekday())
data['달'] = data['일자'].apply(lambda x: x.split('-')[1])
data.drop('일자', axis=1, inplace=True)
data

        자치구  시각   기온   풍속  강수량  미세먼지농도  이용건수  요일   달
0         0   0 -5.1  1.0  0.0    27.0    24   2  01
1         0   1 -5.0  0.8  0.0    20.0    29   2  01
2         0   2 -4.8  1.3  0.0    21.0    28   2  01
3         0   3 -4.9  0.7  0.0    31.0    21   2  01
4         0   4 -4.7  1.4  0.0    30.0    14   2  01
...     ...  ..  ...  ...  ...     ...   ...  ..  ..
216253   11  19 -5.4  1.7  0.0    44.0    33   3  12
216254   11  20 -6.5  1.5  0.0    35.0    30   3  12
216255   11  21 -6.2  1.4  0.0    42.0    24   3  12
216256   11  22 -5.6  1.6  0.0    42.0     7   3  12
216257   11  23 -6.3  1.4  0.0    43.0     2   3  12

[216258 rows x 9 columns]

In [ ]:
data.to_csv('/content/drive/MyDrive/projects/3차-따릉이/data/data.csv', index = None)